* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --cor-background-body: rgb(236, 239, 241);
}

body {
    background-color: var(--cor-background-body);
}

div#forma {
    margin: 50px auto;
    width: 100px;
    height: 100px;
    background-color: chocolate;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 2px 2px 4px black;
}

div#forma > #interna {
    width: 80px;
    height: 80px;
    border: 1px solid red;
    background-color: var(--cor-background-body);
}