.form {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-gray);
    margin: 0 10px;
    padding: 10px;
    width: 330px;
}

.form__label {
    font: var(--font-label);
}

.form__input {
    border: 1px solid var(--border-gray);
    width: min(100%, 330px);
    height: 35px;
    font: 16px Arial, Helvetica, sans-serif;
    padding: 5px;
    margin-bottom: 10px;
}

.form__button {
    width: min(100%, 330px);
    height: 60px;
    background: var(--button-blue);
    color: var(--font-white);
    font: var(--font-label);
    text-transform: uppercase;
}
