    * {
        box-sizing: border-box;
        margin:0;
        padding: 0;
    }

    body {
        background-color: royalblue;
    }

    main {
        margin: 50px auto;
        height: auto;
        width: 80%;
        border:2px dotted rebeccapurple;
        font-size:18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: seashell;
    }

    h2 {
        font-size: 0.8em;
        padding:5px 0 9px 0;
    }
    .borda {
        border:1px solid red;
    }

    .margem-left {
        margin-left:30px;
    }
    
    .remove-bullet {
        list-style: none;
    }

    li {
        width: 100%;
        height: auto;
        background-color: skyblue;
        margin:2px;
    }

    ol {
        width: 200px;
        height: auto;
        margin:30px;
    }

    div {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        background-color: springgreen;
        margin:5px;
        display: block;
    }

    a {
        width: 100%;
        display: block;
        height: 20px;
        border:1px solid black
    }