* {
    border: 0;
    padding: 0;
    margin: 0;
}

div {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: black;
    cursor: pointer;
}

div:hover {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: red;
    cursor: pointer;
}