* {
    border: 0;
    padding: 0;
    margin: 0;
}

:root {
    --cor-background-body: rgb(236, 239, 241);
}

body {
    background-color: var(--cor-background-body);
}

div#quadrado {
    margin: 50px auto;
    width: 300px;
    height: 300px;
    border: 2px dotted brown;
    background-color: #fff;
}

div#quadrado > div#forma {
    width: 100px;
    /* height: 100px; */
    height: 30px;
    background-color: chocolate;
    margin: 50px auto;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    padding: 10px;
    cursor: pointer
}