* {
    margin: 0;
    padding: 0;
    border: 0;
}

#content-img {
    background-image: url(../img/saude_frutas_banana.jpg);
    background-size: 40%;
    background-repeat: no-repeat;
    border: 2px solid red;
    width: 100%;
    height: 600px;
}