* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    width: 80%;
    height: auto;
}

section#formulario {
    margin: 30px auto;
    padding: 5px;
}

form {
    width: 100%;
    height: auto;
    padding: 2px;
}

label {
    display: block;
    width: 100%;
    height: auto;
    padding: 2px;
}

.txt {
    width: 100%;
    height: 30px;
}

fieldset {
    padding: 2px;
    border: none;
}