* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --button-blue: #3091dc;
    --font-white: #fff;
    --border-gray: #00000077;

    --font-label: 18px Arial, Helvetica, sans-serif;
    --font-input: 16px Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
}
